<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<h1>Physics Toy</h1>
		<p>
			Physics Toy is a tool for creating simple 2D physics scenes.
		</p>
		<% include ga %>
	</body>
</html>