<!DOCTYPE html>
<html>
	<head>
		<title><%=process.env.PHYSICSTOY_TITLE || "PhysicsToy" %></title>
		<% include meta %>
    	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		<h1>Physics Toy</h1>
		<p>
			Physics Toy is a tool for creating simple 2D physics scenes. It's is a small side project made by <a href="http://twitter.com/schteppe">Stefan Hedman</a>.
		</p>

		<h2>Instructions</h2>
		<p>
			Open a scene, modify its initial state via the menu to the right. Save it via the "control" menu. Share or keep modifying your scene.
		</p>

		<h2>Latest scenes</h2>
		<ul>
			<% for (var i = 0; i < scenes.length; i++) { %>
				<li>
					<a href="/<%=scenes[i].id%>">
						<div width="100" height="100" class="thumbnail">
							<script type="application/json"><%-JSON.stringify(scenes[i].scene)%></script>
						</div>
					</a>
				</li>
			<% } %>
		</ul>

		<p>
			<a href="/new">Create new scene</a>
			<a href="/browse">Browse scenes</a>
		</p>

		<% include ga %>
		<script type="text/javascript" src="js/lib/p2.<%-(process.env.NODE_ENV=='development' ? '' : 'min.')%>js"></script>
		<script type="text/javascript" src="js/Thumbnail.js"></script>
		<script type="text/javascript" src="js/main.js"></script>

	</body>
</html>
