<!DOCTYPE html>
<html>
	<head>
		<title><%=process.env.PHYSICSTOY_TITLE || "PhysicsToy" %></title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<meta charset="utf-8">
	</head>
	<body>
		<script src="/js/p2.js"></script>
		<script src="/js/pixi.js"></script>
		<script src="/js/Color.js"></script>
		<script src="/js/Renderer.js"></script>
		<script src="/js/WebGLRenderer.js"></script>
		<script src="/js/Machine.js"></script>
		<script src="/js/Handler.js"></script>
		<script src="/js/RendererHandler.js"></script>
		<script src="/js/SolverHandler.js"></script>
		<script src="/js/ShapeHandler.js"></script>
		<script src="/js/WorldHandler.js"></script>
		<script src="/js/SpringHandler.js"></script>
		<script src="/js/ConstraintHandler.js"></script>
		<script src="/js/MachineHandler.js"></script>
		<script src="/js/MaterialHandler.js"></script>
		<script src="/js/ContactMaterialHandler.js"></script>
		<script src="/js/BodyHandler.js"></script>
		<script src="/js/ActionHandler.js"></script>
		<script src="/js/StateHandler.js"></script>
		<script src="/js/SceneHandler.js"></script>
		<script id="loadedSceneData" type="application/json"><%-scene%></script>
		<script>
			var scene = JSON.parse(document.getElementById('loadedSceneData').innerHTML);
			var world = new p2.World();
			var renderer = new WebGLRenderer(world);
			var handler = new SceneHandler(world,renderer);
			handler.updateAll(scene);
			renderer.paused = false;
		</script>
		<% include ga %>
	</body>
</html>
