<!DOCTYPE html>
<html>
	<head>
		<title><%=process.env.PHYSICSTOY_TITLE || "PhysicsToy" %></title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<meta charset="utf-8">
	</head>
	<body>
		<script src="/js/lib/p2.js"></script>
		<script src="/js/lib/pixi.js"></script>
		<script src="/js/lib/screenfull.js"></script>
		<script src="/js/Color.js"></script>
		<script src="/js/Renderer.js"></script>
		<script src="/js/WebGLRenderer.js"></script>
		<script src="/js/fsm/Machine.js"></script>
		<script src="/js/handlers/Handler.js"></script>
		<script src="/js/handlers/RendererHandler.js"></script>
		<script src="/js/handlers/SolverHandler.js"></script>
		<script src="/js/handlers/ShapeHandler.js"></script>
		<script src="/js/handlers/WorldHandler.js"></script>
		<script src="/js/handlers/SpringHandler.js"></script>
		<script src="/js/handlers/ConstraintHandler.js"></script>
		<script src="/js/handlers/MachineHandler.js"></script>
		<script src="/js/handlers/MaterialHandler.js"></script>
		<script src="/js/handlers/ContactMaterialHandler.js"></script>
		<script src="/js/handlers/BodyHandler.js"></script>
		<script src="/js/fsm/KeyAction.js"></script>
		<script src="/js/fsm/SetPositionAction.js"></script>
		<script src="/js/fsm/SetVelocityAction.js"></script>
		<script src="/js/fsm/WaitAction.js"></script>
		<script src="/js/fsm/AddForceAction.js"></script>
		<script src="/js/handlers/ActionHandler.js"></script>
		<script src="/js/handlers/StateHandler.js"></script>
		<script src="/js/handlers/SceneHandler.js"></script>
		<script id="loadedSceneData" type="application/json"><%-scene%></script>
		<script>
			var scene = JSON.parse(document.getElementById('loadedSceneData').innerHTML);
			var world = new p2.World();
			var renderer = new WebGLRenderer(world);
			var handler = new SceneHandler(world,renderer);
			handler.updateAll(scene);
			renderer.frameAll();
			renderer.paused = false;
		</script>
		<% include ga %>
		<% include fullscreenbutton %>
		<a href="/<%-id%>/edit" class="edit-button no-select">
			<img src="/img/edit.svg"/>
		</a>
	</body>
</html>
