<!DOCTYPE html>
<html>
	<head>
		<title><%=process.env.PHYSICSTOY_TITLE || "PhysicsToy" %></title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<meta charset="utf-8">
	</head>
	<body>
		<script src="/js/lib/p2.<%-(process.env.NODE_ENV=='development' ? '' : 'min.')%>js"></script>
		<script src="/js/lib/screenfull.js"></script>
		<script src="/js/lib/pixi.js"></script>

		<% include renderDeps %>

		<script id="loadedSceneData" type="application/json"><%-scene%></script>
		<script>
			var scene = JSON.parse(document.getElementById('loadedSceneData').innerHTML);
			var world = new p2.World();
			var renderer = new WebGLRenderer(world);
			var handler = new SceneHandler(world,renderer);
			handler.updateAll(scene);
			renderer.frameAll();
			renderer.paused = false;
		</script>
		<% include ga %>
		<% include fullscreenbutton %>
		<a href="/<%-id%>/edit" class="edit-button no-select">
			<img src="/img/edit.svg"/>
		</a>
	</body>
</html>
