html,body {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    overflow: hidden;
	font-family: sans-serif;
	line-height: 1.7em;
	font-size: 12px;
}
.fullscreen-button {
	position: absolute;
	left:0;
	bottom:0;
}
.fullscreen-button, .edit-button {
	position: absolute;
	left:5px;
	bottom:0;
}
.edit-button {
	left:30px;
}
.fullscreen-button img, .edit-button img {
	width:20px;
	height:20px;
}
.no-select {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.menu-container {
	width:250px;
	overflow:auto;
	overflow-x:hidden;
	max-height:100%;
	position: absolute;
	right: 0;
	top: 0;
}

.menu {
	background: #eee;
	border: 1px solid black;
	padding:0;
	margin:0;
	position:relative;
}

.menu ul {
	list-style-type: none;
	padding:0;
	margin:0;
	padding-left:10px;
}
.menu li {
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}
.menu .header {
	display:block;
	text-transform: uppercase;
	background: #ccc;
	padding:0;
	margin-left:0;
	width:100%;
	border-bottom: 1px solid black;
}
.menu .header .text {
	margin-left: 4px;
	display:inline-block;
}
.menu .form-group {
	padding-left: 10px;
	margin:0;
	padding:2px;
}
.menu label {
	display:inline-block;
	text-transform: lowercase;
	margin-left: 3px;
}
.menu input, .menu select, .form-group button.playButton {
	width:110px;
	position: absolute;
	right: 3px;
}
.menu input.vec2.x {
	right: 60px;
}
.menu input.vec2 {
	width: 53px;
}
.menu .rm {
	position: absolute;
	right: 4px;
}
.menu .content {
	padding-bottom: 10px;
}
.menu > .header, .menu ul li:first-child > .header {
	border-top: 1px solid black;
}
.menu > .header:first-child {
	border-top: 0;
}
.menu .header.closed {
	border-bottom: 0;
}
.menu .header.world { background-color: #afa; }
.menu .content.world { background-color: #dfd; }
.menu .header.body { background-color: #faa; }
.menu .content.body { background-color: #fdd; }
.menu .header.shape { background-color: #aaf; }
.menu .content.shape { background-color: #ddf; }
.menu .header.renderer { background-color: #faf; }
.menu .content.renderer { background-color: #fdf; }
.menu .header.solver { background-color: #aff; }
.menu .content.solver { background-color: #dff; }
.menu .header.machine { background-color: #aff; }
.menu .content.machine { background-color: #dff; }
.menu .header.state { background-color: #afa; }
.menu .content.state { background-color: #dfd; }
.menu .header.action { background-color: #faa; }
.menu .content.action { background-color: #fdd; }
.menu .header.spring { background-color: #faa; }
.menu .content.spring { background-color: #fdd; }
.menu .header.constraint { background-color: #faf; }
.menu .content.constraint { background-color: #fdf; }
.menu .header.material { background-color: #aff; }
.menu .content.material { background-color: #dff; }
.menu .header.contactMaterial { background-color: #aaf; }
.menu .content.contactMaterial { background-color: #ddf; }

.ng-invalid {
	background-color: red;
}